
body {
    font-family: 'Avenir', Arial, sans-serif;
    background-color: black;
    color: #b8860b; /* Darker gold colour */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: white;
    padding: 20px;
}

.logo {
    max-width: 60%;
    height: auto;
}

h1 {
    font-size: 2.5em;
    color: black;
}

h2 {
    color: #b8860b; /* Darker gold */
    margin-top: 50px;
}

p, ul, li {
    font-size: 1.2em;
    margin: 20px auto;
    width: 80%;
}

a {
    color: #b8860b; /* Darker gold */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
